/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* Variables */

:root {
    /* Color Palette */
    --main-color: #1A202C;
    --secondary-color: #1A365D;
    --third-color: #2B6CB0;
    --brighter-color: #4299E1;
    --brighter-color2: #000000;

    --dark-shadow: rgba(0, 0, 0, 0.418);
}

/* Global */

img {
    height: 100%;
    width: auto;
}

body {
    margin: 0;
    background-color: var(--main-color);
    background-size: auto 100vh;
    background-attachment: fixed;
    
    color: white;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: white;
    text-shadow: 1px 1px 10px var(--dark-shadow);
}

h1, h2, h3, h4 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    color: rgb(202, 202, 202);
}

#showNavButton{
    width: 3em;
    height: 3em;
    z-index: 10;

    position: fixed;
    top: 1em;
    right: 1em;

    box-shadow: 0px 0px 0 2px white;
    color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showNavButton svg {
    width: 70%;
    height: 70%;
    color: white;
}

.changeColor {
    color: white;
    box-shadow: 0px 0px 0 2px white;
}

.navButton {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 2px white;
    transition: 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navButton:hover {
    box-shadow: 0px 0px 0px 5px white; /* Will activate if clicked since this only shows on mobile */
}


.backgroundLayer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;

    background-color: var(--dark-shadow);
    display: none;
}

.showBackground {
    display: block;
}

nav {
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -80vw;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: left 0.3s;
    background-color: var(--main-color);
}

.showNav {
    left: 0;
}

/* --- STARTPAGE --- */

#startPageWrapper {
    max-width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas:
    'sho'
    'ss1'
    'ss2'
    'ss3'
    'gfo'
    ;

    grid-template-columns: 100%;
    grid-template-rows: 90% 50% 40% 50% 10%;
}

/* Default values */
#startPageWrapper > * {
    background-color: var(--secondary-color)
}

#startPageWrapper > section:nth-of-type(1) {
    background: linear-gradient(180deg, var(--main-color) 10%, var(--secondary-color) 80%);
}

#startPageWrapper > section {
    transform: skewY(2deg);
}

#startPageWrapper > section > * {
    transform: skewY(-2deg);
}

#startPageWrapper > section:nth-of-type(2) {
    background-color: var(--main-color);
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: none;
}

.punchline {
    width: 60%;
    height: 50vh;
}

.punchline div {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px var(--dark-shadow);
}

.punchline div > * {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--secondary-color);
}

.punchline div h1 {
    height: 50%;
    width: 100%;
}

.punchline div h2 {
    height: 50%;
    width: 100%;
}

#hero img {
    display: none;
}

.simpleButton {
    margin-top: 1em;
    width: 100%;
    height: 20%;
    /*background-color: var(--brighter-color);*/
    border-color: var(--brighter-color);
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    box-shadow: 5px 5px 5px var(--dark-shadow);
    transition: 0.1s;
}

.simpleButton:hover {
    background-color: var(--third-color);
    cursor: pointer;
}

.infoSection img {
    display: none;
}

#startPageWrapper footer {
    background-color: var(--main-color);
}

/* --- CONTACT PAGE --- */

#contactWrapper {
    /* Förlåt Emil men det passade verkligen inte med grid här */
    display: block;
}

/* Default values */
#contactWrapper > * {
    padding: 1em;
}

#contactWrapper main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contactArticle {
    background-color: var(--secondary-color);
    width: 90%;
    height: 10vh;
    margin: 1em;
    padding: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.3s;
}

.contactInformation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.contactInformation h4 {
    margin: 0;
}

.contactArticle:hover {
    box-shadow: 5px 5px 5px var(--dark-shadow);
    cursor: pointer;
}

.contactInformation span:not(:first-of-type) {
    display: none;
}

.contactArticle svg {
    color: var(--third-color);
    width: auto;
    height: 8vh;
}

.contactArticle svg g rect:last-child {
    transition: 0.3s;
}

.changeToMinus g rect:last-child {
    transform: skewY(90deg);
}

.showContactInformation {
    height: 20vh;
}

.showContactInformation span:not(:first-of-type) {
    display: block;
}

/* --- EVENTS PAGE --- */
#eventsWrapper {
    display: block;
}

/* Default values */
#eventsWrapper > * {
    padding: 1em;
}

#eventsWrapper main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.eventBox {
    width: 90vw;
    height: 30vh;

    margin-bottom: 1em;
    background-color: var(--secondary-color);

    display: grid;
    grid-template-areas: 
    'de de da'
    'de de lo'
    ;

    grid-template-rows: 50% 50%;
    grid-template-columns: 37.5% 37.5% 25%;
}

.eventBox > * {
    padding: 1em;
}

/* --- Media querys --- */
@media screen and (min-width: 760px) {
    body {
        background-size: 100vw auto;
        background-position-y: -10vh
    }

    #startPageWrapper {
        grid-template-areas: 
        'gna'
        'sho'
        'ss1'
        'ss2'
        'ss3'
        'gfo'
        ;
        grid-template-rows: 10% 90% 60% 50% 60% 10%;
    }

    nav {
        display: flex;
        flex-direction: row;
        height: 10vh;
        left: 0;
        width: 100vw;
        max-width: 100%;
        box-shadow: 0px 5px 5px var(--dark-shadow);
    }

    #hero > *:nth-child(1) {
        width:30%;
        padding-right: 3em;
    }

    #hero > *:nth-child(2) {
        padding-left: 3em;
    }

    #hero img {
        display: block;
        width: 50vw;
        height: 50vh;
    }

    #showNavButton {
        display: none;
    }

    .navButton {
        box-shadow: none;
        border-radius: 0;
        height: 70%;
        width: 20%;
    }

    .navButton:hover {
        box-shadow: none;
    }
    
    .infoSection {
        padding: 1em 10em 1em 10em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .infoSection article {
        background-color: var(--third-color);
        width: 30%;
        height: 90%;
        padding: 1em;
    }

    .infoSection img {
        display: block;
        width: 30%;
        height: auto;
    }

    /*#startPageWrapper > img {
        height: 90%;
        width: auto;
    }*/
}

@media screen and (min-width: 760px) {
    #eventsWrapper {
        margin-top: 10vh;
    }
}

@media screen and (min-width: 760px) {
    #contactWrapper {
        margin-top: 10vh;
    }

    .contactArticle {
        width: 40vw;
    }
}

/* --- Grid areas --- */

#hero {
    grid-area: sho;
}

nav {
    grid-area: gna;
}

#startPageWrapper section:nth-of-type(1) {
    grid-area: ss1;
}
#startPageWrapper section:nth-of-type(2) {
    grid-area: ss2;
}
#startPageWrapper section:nth-of-type(3) {
    grid-area: ss3;
}

footer {
    grid-area: gfo;
}

#contactWrapper header {
    grid-area: che;
}

#contactWrapper main {
    grid-area: cma;
}

.eventDescription {
    grid-area: de;
}

.eventDate {
    grid-area: da;
}

.eventLocation {
    grid-area: lo;
}

/* --- Misc --- */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}