/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* Variables */

:root {
    /* Color Palette */
    --main-color: rgb(23, 34, 36);
    --dark-shadow: rgba(0, 0, 0, 0.418);
    --secondary-color: rgb(55, 65, 71);
}

body {
    margin: 0;
    /* Photo by Steinar Engeland on Unsplash */
    background-image: url("../img/fishing_boat.jpg");
    /*background-image: url("../img/motorboat.jpg");*/
    background-size: 100vw 50vh;
    background-attachment: fixed;

    color: white;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    color: rgb(202, 202, 202);
}

#showNavButton{
    width: 3em;
    height: 3em;

    position: fixed;
    top: 1em;
    left: 1em;

    box-shadow: 0px 0px 0 2px black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showNavButton img {
    width: 70%;
    height: 70%;
}

.navButton {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 2px white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navButton:hover {
    box-shadow: 0px 0px 0px 5px white; /* Will activate if clicked since this only shows on mobile */
}

.navButton a {
    color: white;
    text-shadow: 1px 1px 10px var(--dark-shadow);
}

.backgroundLayer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

    background-color: var(--dark-shadow);
    display: none;
}

.showBackground {
    display: block;
}

nav {
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -80vw;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: left 0.3s;
    background-color: var(--secondary-color);
}

.showNav {
    left: 0;
}

/* Grids */

#startPageWrapper {
    margin-top: 30vh;
    max-width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas: 
    'she'
    'ss1'
    'ss2'
    'ss3'
    'sfo'
    ;

    grid-template-columns: 100%;
    grid-template-rows: 40% 60% 50% 60% 10%;
}

/* Default values */
#startPageWrapper > * {
    background-color: var(--main-color);
}

#hero {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;

    border-top-left-radius: 1%;
    border-top-right-radius: 1%;

    background: none;
}

#hero > * {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--main-color);
}

#hero h1 {
    height: 50%;
    width: 50%;
}

#hero h2 {
    height: 51%;
    width: 100%;
}

/* Media Querys */

@media screen and (min-width: 760px) {
    body {
        background-size: 100vw auto;
        background-position-y: -60vh
    }

    #startPageWrapper {
        margin-top: 60vh;
    }

    nav {
        display: flex;
        flex-direction: row;
        height: 10vh;
        left: 0;
        width: 100vw;
        max-width: 100%;
        box-shadow: 0px 5px 20px var(--dark-shadow);
    }

    #showNavButton {
        display: none;
    }

    .navButton {
        box-shadow: none;
        border-radius: 0;
        height: 70%;
        width: 20%;
    }

    .navButton:hover {
        box-shadow: none;
    }
    
    #startPageWrapper section {
        padding-left: 10em;
        padding-right: 10em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #startPageWrapper section article {
        background-color: var(--secondary-color);
        width: 30%;
        height: 90%;
        padding: 1em;
    }

    #startPageWrapper img {
        height: 90%;
        width: auto;
    }
}

/* Grid Areas */

#startPageWrapper header {
    grid-area: she;
}

#startPageWrapper section:nth-of-type(1) {
    grid-area: ss1;
}
#startPageWrapper section:nth-of-type(2) {
    grid-area: ss2;
}
#startPageWrapper section:nth-of-type(3) {
    grid-area: ss3;
}

#startPageWrapper footer {
    grid-area: sfo;
}